# Graphy > Segment mapping for parsing of Latin material
# 13.12.21

[DEFAULT]
features = cons,son,cont,strident,lat,nas,LABIAL,round,CORONAL,ant,dist,DORSAL,high,low,back,atr,LARYNGEAL,voice

# SINGLE NON-SONORANT CONSONANTS
[Q]
regex=[bcdfgjstvq]
is=cons
is_not=son,nas,lat

[h]
regex=h
after=[^p]
is=cons
is_not=son,nas,lat

[p]
regex=p
before=[^h]
is=cons
is_not=son,nas,lat

[p2]
regex=ph
is=cons
is_not=son,nas,lat

# SONORANTS

[R]
regex=[rlnm]
is=cons,son,cont,voice
is_not=

[u]
regex=u
after=q
is=cons,son,cont,voice
is_not=

[i3]
regex=i
after=[aeou]
before=[aeou]
is=cons,son,cont,voice
is_not=

# VOWELS - diphthongs as a single vowel

[au]
regex=au
is=son,voice
is_not=cons

[oe]
regex=oe
is=son,voice
is_not=cons

[ae]
regex=ae
is=son,voice
is_not=cons

[a]
regex=a
before=[^ue]
is=son,voice
is_not=cons

[o]
regex=o
before=[^e]
is=son,voice
is_not=cons

[e]
regex=e
after=[^ao]
is=son,voice
is_not=cons

[i]
regex=i
after=[^aeou]
before=[aeou]
is=son,voice
is_not=cons

[i2]
regex=i
before=[^aeou]
is=son,voice
is_not=cons

[u2]
regex=u
after=[^qa]
is=son,voice
is_not=cons