annis:BEGIN	div; style="title"	meta::title_en
tei_lg_n	span; style="heading"	value
tei_lg_n	div; style="p"
tei_p	div; style="p"
tei_l_n	div; style="line"
tei_l_n	span:title; style="line_ref"	value
tei_speaker	div; style="line"
tei_speaker	span; style="heading"
tei_s	span; style="s"
tei_q	span:q; style="q"
lang	span:lang; style="lang"	value
word	span; style="word"	value
